.DS_Store
Thumbs.db
Desktop.ini

*.log
npm-debug.log*
firebase-debug.log
firestore-debug.log
ui-debug.log

.firebase/
.firebase-debug/

node_modules/
dist/
build/
scripts-build/
static/app.js
static/index.html
static/main.js
static/tailwind.css
static/robots.txt
static/sitemap.xml

.env
.env.*
!.env.example

*.tmp
*.swp
.vscode/
.idea/
